/* Global mobile layout changes for the section */
@media (max-width: 767px) {
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row {
        flex-direction: column-reverse;
    }

    .text-section {
        order: 2;
        text-align: center;
        padding: 20px 0;
    }

    .image-section {
        order: 1;
        width: 100%;
        padding: 0 15px; /* Add padding around the image on mobile */
    }

    .image-section img {
        width: 100%; /* Ensure the image takes full width */
        height: auto;
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .hero-text p {
        font-size: 18px;
    }

    .breadcrumb {
        padding-left: 20px; /* Reduce padding for mobile view */
    }

    .appointment-button {
        font-size: 18px;
        padding: 12px 20px;
    }
}

/* Desktop / Larger screens */
@media (min-width: 768px) {
    .section {
        padding: 0; /* Retain padding for larger screens */
    }

    .image-section img {
        width: 100%;
        height: auto;
        display: block;
    }

    .text-section {
        padding: 0;
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}

/* Hero Section */
.hero-section {
    background-image: url('/images/bespokeimg1.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    color: #5a3e36;
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #5a3e36;
}

.hero-text p {
    font-size: 24px;
    color: #1F2119;
    margin: 0;
}

/* Adjustments for the Method Section */
.title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.title h1 {
    font-size: 70px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.title p {
    font-size: 30px;
    color: #666;
    margin-bottom: 40px;
}

.section {
    padding: 0;
    text-align: center;
}

.image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

.text-section {
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.appointment-button {
    background-color: #4b2e2a;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    text-decoration: none;
}

.appointment-button:hover {
    background-color: #4a2e26;
}

.spacer {
    min-width: 170px;
}
