.navbar {
    background-color: #FBFAF1;
    padding: 1rem 2rem;
}
.navbar-brand img {
    height: 30px; /* Adjust the height as needed */
}
.nav-link {
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    color: #333;
    margin-right: 1.5rem;
}
.nav-link:hover {
    color: #000;
}
.search-input {
    width: 150px;
    padding: 5px;
     margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    }
.navbar-icons {
    font-size: 1.2rem;
    color: #333;
    margin-left: 0.1px; /* Reduce space between icons */
}
.navbar-nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center; /* Centering the nav items */
    flex-grow: 1; /* Allow the nav items to take available space */
}
.navbar-icons {
    position: relative; /* Ensure the badge is positioned relative to the icon */
}

.cart-badge {
    position: absolute;
    top: -5px; /* Adjust based on your icon size */
    right: -10px; /* Adjust based on your icon size */
    background-color: red; /* Color of the badge */
    color: white; /* Text color of the badge */
    border-radius: 50%; /* Make it a circle */
    padding: 2px 5px; /* Padding around the text */
    font-size: 12px; /* Font size of the badge */
    display: inline-block; /* Ensure it behaves like an inline element */
}

@media (max-width: 767.98px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar-toggler {
        margin-right: auto;
    }
}
