.filters {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.filters h5 {
  font-weight: bold;
}
.filters .form-control, .filters .form-select {
  margin-bottom: 15px;
}
.filters .btn {
  background-color: #4b2e2e;
  color: #fff;
  width: 100%;
}
.product-card {
  background-color: #FBFAF1; /* Added background color */
  border: none;
  margin-bottom: 20px;
}
.product-card img {
  width: 250px; /* Fixed width */
  height: 250px; /* Fixed height to make it square */
  object-fit: cover; /* Ensure the image covers the area without stretching */
  margin: auto; /* Center the image horizontally */
  display: block; /* Make the image a block element to respect margins */
}

.product-card .card-header {
  background-color: transparent; /* To keep it in line with your design */
  border-bottom: none; /* Removed dividing line */
  padding: 10px 15px; /* Added padding for consistent spacing */
}
.product-card .card-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0; /* Ensures no extra space below title */
  text-align: left; /* Left align the title */
}
.product-card .card-text.price-text {
  color: #000;
  font-size: 0.9rem;
  margin-top: 5px; /* Space above the price */
  text-align: left; /* Left align the price text */
}